.place_order_page {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    min-height: 100vh;
}

.place_order_page_mobile {
    display: none;
}

.place_order_page_desktop {
display: flex;
flex-direction: column;
width: 100%;
}

.place_order_page_desktop_process_con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: white;
    }

.place_order_page_desktop_top {
display: flex;
align-items: center;
justify-content: center;
height: 50px;
}

.place_order_page_desktop_top_text {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.place_order_page_desktop_bottom {
    display: flex;
}


.place_order_page_desktop_bottom_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.place_order_page_desktop_bottom_shipping {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 70%;
    background-color: white;
    padding: 10px;

}

.place_order_page_desktop_bottom_shipping_child_1 {
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.place_order_page_desktop_bottom_shipping_child_2 {
display: flex;
flex-direction: column;
}

.place_order_page_desktop_center_left_details {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid gainsboro;
    width: 70%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    font-weight: bold;
   
}

.place_order_page_desktop_center_left_details_1 {
display: flex;
justify-content: flex-start;
width: 55%;
padding-left: 5px;
}

.place_order_page_desktop_center_left_details_2 {
display: flex;
width: 30%;
}

.place_order_page_desktop_center_left_details_3 {

}

.place_order_page_desktop_center_left_order_card {
    border-radius: 10px;
width: 70%;
height: 150px;
display: flex;
align-items: center;
background-color: white;
margin-bottom: 15px;
margin-top: 5px;
}


.place_order_page_desktop_center_left_order_card_left {
width: 30%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.place_order_page_desktop_center_left_order_card_left_img {
width: 90%;
height: 90%;
}

.place_order_page_desktop_center_left_order_card_right {
display: flex;
flex-direction: column;
height: 100%;
width: 70%;
}

.place_order_page_desktop_center_left_order_card_right_top{
display: flex;
align-items: center;
width: 100%;
}

.place_order_page_desktop_center_left_order_card_right_top_name {
    display: flex;
    align-items: center;
    width: 36%;
}

.place_order_page_desktop_center_left_order_card_right_top_qty {
    display: flex;
    align-items: center;
    width: 42%;
}

.place_order_page_desktop_center_left_order_card_right_top_price {
    display: flex;
    align-items: center;
}


.place_order_page_desktop_center_left_order_card_right_price {

}

.place_order_page_desktop_center_left_order_card_right_price_left {
    color: grey;
}


.place_order_page_desktop_center_left_order_card_right_price_right {
    margin-left: 5px;
}

.place_order_page_desktop_center_left_order_card_right_size {
  
}

.place_order_page_desktop_center_left_order_card_right_size_left {
    color: grey;
}


.place_order_page_desktop_center_left_order_card_right_size_right {
margin-left: 5px;
}


.place_order_page_desktop_bottom_right {
    width: 30%;

    
}

.place_order_page_desktop_center_left_child_1_summary {
    width: 70%;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    }
    
    .place_order_page_desktop_center_left_child_1_summary_top {
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    }
    
    .place_order_page_desktop_center_left_child_1_summary_top_text {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
      
    }
    
    .place_order_page_desktop_center_left_child_1_summary_ceter {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    
    .place_order_page_desktop_center_left_child_1_summary_ceter_con {
    display: flex;
    align-items: center;
    }
    
    .place_order_page_desktop_center_left_child_1_summary_ceter_con_left {
        display: flex;
        align-items: center;
    width: 50%;
    }
    
    .place_order_page_desktop_center_left_child_1_summary_ceter_con_left_text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    }
    
    .place_order_page_desktop_center_left_child_1_summary_ceter_con_left_text_total {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
    .place_order_page_desktop_center_left_child_1_summary_ceter_con_right {
    width: 50%;
    display: flex;
    align-items: center;
    }
    
    .place_order_page_desktop_center_left_child_1_summary_ceter_con_right_text {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .place_order_page_desktop_center_left_child_1_summary_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    }
    
    .place_order_page_desktop_center_left_child_1_summary_bottom_btn {
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    }
    
    .place_order_page_desktop_center_left_child_1_summary_bottom_btn_left {
    display: flex;
    align-items: center;
    }
    
    .place_order_page_desktop_center_left_child_1_summary_bottom_btn_right {
        display: flex;
        align-items: center;
        margin-left: 5px;
    }

    @media (max-width:700px) {
        .place_order_page_desktop_bottom {
            display: flex;
            flex-direction: column;
        }

        .place_order_page_desktop_bottom_left {
            width: 100%;
        }

        .place_order_page_desktop_bottom_shipping {
            width: 95%;
        }

        .place_order_page_desktop_center_left_details {
            width: 95%;
        }

        .place_order_page_desktop_center_left_order_card {
            width: 95%;
        }

        .place_order_page_desktop_bottom_right {
            width: 100%;
            display: flex;
            justify-content: center;

        }

        .place_order_page_desktop_center_left_child_1_summary {
            width: 95%;
            margin-bottom: 15px;
        }
        
    }